[package]
name        = "ohos-xcomponent-binding"
version     = "0.1.0"
edition     = "2021"
license     = "MIT OR Apache-2.0"
description = "OpenHarmony's xcomponent binding for rust"

[features]
# allow print log with hilog
log = ["dep:ohos-hilog-binding"]
# init with muilt xcomponent instance mode
multi_mode = []
# allow use closure to define callbacks
callbacks = []

default = ["callbacks"]

[dependencies]
napi-sys-ohos       = { workspace = true }
ohos-xcomponent-sys = { workspace = true }
napi-ohos           = { workspace = true }
napi-derive-ohos    = { workspace = true }
ohos_enum_macro     = { workspace = true }
raw-window-handle   = { workspace = true }

ohos-hilog-binding = { workspace = true, optional = true }
