[package]
name        = "ohos-xcomponent-binding"
version     = "0.2.0"
edition     = "2021"
license     = "MIT OR Apache-2.0"
description = "OpenHarmony's xcomponent binding for rust"

[features]
# allow print log with hilog
log = ["dep:ohos-hilog-binding"]
# init with muilt xcomponent instance mode
multi_mode = []
# allow use closure to define callbacks
callbacks = []

default = ["callbacks"]

api-13 = ["ohos-xcomponent-sys/api-13"]
api-14 = ["api-13", "ohos-xcomponent-sys/api-14"]
api-15 = ["api-14", "ohos-xcomponent-sys/api-15"]
api-16 = ["api-15", "ohos-xcomponent-sys/api-16"]
api-17 = ["api-16", "ohos-xcomponent-sys/api-17"]
api-18 = ["api-17", "ohos-xcomponent-sys/api-18"]
api-19 = ["api-18", "ohos-xcomponent-sys/api-19"]
api-20 = ["api-19", "ohos-xcomponent-sys/api-20"]

[dependencies]
napi-sys-ohos       = { workspace = true }
ohos-xcomponent-sys = { workspace = true }
napi-ohos           = { workspace = true }
napi-derive-ohos    = { workspace = true }
ohos_enum_macro     = { workspace = true }
raw-window-handle   = { workspace = true }

ohos-hilog-binding = { workspace = true, optional = true }
