name: PR Check

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: pr-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  pull-requests: write

jobs:
  mention:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup OpenHarmony SDK
        uses: openharmony-rs/setup-ohos-sdk@v0.1
        id: setup-ohos
        with:
          version: '5.0.0'

      - name: setup Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "stable"
          components: "clippy"

      - name: Check
        run: |
          cargo fmt --check
          cargo clippy --workspace --exclude generate --target aarch64-unknown-linux-ohos --all-targets --all-features -- -D warnings
          cargo clippy --workspace --exclude generate --target armv7-unknown-linux-ohos --all-targets --all-features -- -D warnings
          cargo clippy --workspace --exclude generate --target x86_64-unknown-linux-ohos --all-targets --all-features -- -D warnings
